@font-face {
  font-family: 'iconfont';  /* project id 1396801 */
  src: url('//at.alicdn.com/t/font_1396801_x8i6zl36yph.eot');
  src: url('//at.alicdn.com/t/font_1396801_x8i6zl36yph.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1396801_x8i6zl36yph.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1396801_x8i6zl36yph.woff') format('woff'),
  url('//at.alicdn.com/t/font_1396801_x8i6zl36yph.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1396801_x8i6zl36yph.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconset0207:before {
  content: "\e66a";
}

.icon-xiajiantou1:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e62f";
}

.icon-xiajiantou:before {
  content: "\e615";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-shijian:before {
  content: "\e661";
}

.icon-shangjiantou:before {
  content: "\e610";
}
